html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	font-family: Avenir;
	font-size: 160%;
	color: white;
}

.slide h2 {
	font-size: 72px;
	margin: 10px 0;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.slide em {
	font-family: serif;
}

.slide h2 + ul {
	margin: 0;
}

#app {
	position: relative;
	padding: 0;
	height: 100%;
	width: 100%;

	transition: background-color 1.5s ease;
}

#ready { background-color: darkseagreen; }
#intro { background-color: bisque; }
#supports { background-color: darksalmon; }
#classic { background-color: lightblue; }
#apple { background-color: darksalmon; }
#split { background-color: mediumaquamarine; }
#ergodox { background-color: thistle; }
#dactyl { background-color: tan; }

#app canvas {
	display: block;
	padding: 0;
	margin: 0;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;

	padding: 7.5vh 10vw;
	box-sizing: border-box;

	width: 100vw;
	height: 100vh;

	transition: opacity 1s ease;
	&:not(.active) {
		opacity: 0;
	}
}

.fragment {
	transition: opacity .5s ease;
	&:not(.active) {
		opacity: 0;
	}
}
