html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	font-family: Avenir;
	font-size: 160%;
	color: white;
}

.slide {
	pointer-events: none;
	&.active {
		pointer-events: auto;
	}
}

.slide h2 {
	font-size: 72px;
	margin: 10px 0;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.slide em {
	font-family: serif;
}

.slide h2 + ul {
	margin: 0;
}

#app {
	position: relative;
	padding: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;

	transition: background-color 1.5s ease;
}

#ready { background-color: darkseagreen; }
#intro { background-color: peru; }
#supports { background-color: darksalmon; }
#classic { background-color: burlywood; }
#apple { background-color: darksalmon; }
#split { background-color: mediumaquamarine; }
#ergodox { background-color: mediumpurple; }
#dactyl { background-color: cornflowerblue; }

[data-slide="outro"] {
	background-color: steelblue;
	h1 {
		position: absolute;
		left: 50%;
		top: 50%;

		transform: translate(-50%, -50%);
		padding: 0;
		margin: 0;

		font-size: 200px;
		font-style: italic;
		font-family: palatino;
		opacity: 0;
	}

	&.active h1 {
		opacity: 1;
		transition-property: opacity !important;
		transition-delay: 35s !important;
		transition: 5s ease-in;
	}
}

#app canvas {
	display: block;
	padding: 0;
	margin: 0;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;

	padding: 7.5vh 10vw;
	box-sizing: border-box;

	width: 100vw;
	height: 100vh;

	transition: opacity 1s ease;
	&:not(.active) {
		opacity: 0;
	}
}

.fragment {
	transition: opacity .5s ease;
	&:not(.active) {
		opacity: 0;
	}
}
